DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sep
JWT_SECRET=super_secret_key
PARSER_API_KEY=my_secret_parser_api_key
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=example@gmail.com
EMAIL_PASSWORD=example_password
SERVICE_PATH=./services