$main-color: #002166;
$light-main-color: #5cadff;
$ultra-light-main-color: #dcebff;
$dangerous: #e63946;
$black: #1a1a1a;
$light-black: #3c3c3c;
$dark-gray: #555555;
$gray: #7a7a7a;
$light-gray: #a8a8a8;
$ultra-light-gray: #dddddd;
$dark-white: #f9f9f9;
$white: #ffffff;
$green: #1f7a5a;

$radii: (
  'xxs': 4px,
  'xs': 8px,
  's': 12px,
  'm': 16px,
  'l': 24px,
  'xl': 32px,
  'xxl': 40px,
);
